#components-form-demo-normal-login .login-form {
    max-width: 300px;
  }
  #components-form-demo-normal-login .login-form-forgot {
    float: right;
  }
  #components-form-demo-normal-login .login-form-button {
    width: 100%;
  }

  .App{
    left:10px;
    top:100px;
  }
  .element {
    display: flex;
}

.ant-form {

  font-family: "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 46px;
  font-variant: tabular-nums;
  line-height: 3.5;
  color: rgba(0, 0, 0, 0.65);
  list-style: none;

}
 .forgot-form{
  border: solid;
  box-shadow: 5px 5px 5px 5px ;
 }
 .input{
  width: 60%;
 }
 .forgot-top{
   margin-bottom: 100px;
 }
